/* For custom width and border-radius */
p-dropdown{
  border:none;
  outline:none;
}

:host ::ng-deep .custom-dropdown {
  width: 200px;
  padding: 10px;
  background: var(--secondary-bg);
  border:none;
  outline:none;
}
:host ::ng-deep .custom-dropdown span{
  color:var(--main-text);

}
/* For custom color in dropdown items */
:host ::ng-deep .custom-dropdown .p-dropdown-items .p-dropdown-item {
  color:var(--main-text);
  padding: 2px 0px;
}

/* For custom hover color in dropdown items */
:host ::ng-deep .custom-dropdown .p-dropdown-items .p-dropdown-item:hover {
  background-color: rgba(190, 190, 190, 0.62);

}

/* For custom padding in dropdown items */
:host ::ng-deep .custom-dropdown .p-dropdown-items {
  padding:0;
  margin: 0;
  background-color: var(--secondary-bg);
}
:host ::ng-deep .custom-dropdown .p-dropdown-items li{
  background: transparent;
}
  /* For focused state of dropdown */
:host ::ng-deep .custom-dropdown .p-dropdown:not(.p-disabled).p-focus {
  outline: transparent;
  box-shadow: none;
}

/**/
main{
  background-color: var(--main-bg);
}

.search-section{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
}
.search-input svg{
  height: 15px;
  width: 10%;
}
.search-input svg path{
  fill: var(--main-text);
}
.search-input input{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 90%;
  border:  transparent;
  outline: none;
  background-color: transparent;
  color: var(--main-text);
}
.countries{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.country-card {
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .countries {
    grid-template-columns: 1fr;
  }
  .search-section{
    flex-direction:column;
    gap: 10px;
    align-items:start;
  }
  .search-input{
    width: 100%;
  }

}
@media (max-width: 220px) {
  :host ::ng-deep .custom-dropdown {
    width: 100px;
  }
}
