main{
  background-color: var(--main-bg);
}

.search-section{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: var(--secondary-bg);
}
.search-input svg{
  height: 15px;
  width: 10%;
}
.search-input svg path{
  fill: var(--main-text);
}
.search-input input{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 90%;
  border:  transparent;
  outline: none;
  background-color: transparent;
  color: var(--main-text);
}
.countries{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 10px;
}
.country-card {
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .countries {
    grid-template-columns: 1fr;
  }
}
